{% extends "base.html" %}
{% block content %}
    {% if output_file == 'index.html' %}
        {% if SHOW_ANNOUNCEMENT_ON_HOME %}
            {% set ann = articles|selectattr('announcement_text')|first %}
            {% if ann %}
                <div class="alert alert-success">
                    <h2 class="text-center">
                        <a href="{{ SITEURL }}/{{ ann.url }}">{{ ANNOUNCEMENT_PREFIX|default('') }}{{ ann.announcement_text }}</a>
                    </h2>
                </div>
            {% endif %}
        {% endif %}
<p>Welcome!</p>
<p>This is the dedicated site for the Gauteng Python User Group.</p>
<p>We host monthly meetups on Saturdays between 13.00 - 17.00, normally at the House4Hack in Lyttleton, Centurion.</p>
<p>All Pythonistas are welcome to join us.</p>
<p>Consult the links on the right for further info( -&gt; ).</p>
<hr/>
    {% endif %}

    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                    <div class="well well-sm">
                        {% include "includes/article_info.html" %}
                    </div>
                {% endif %}
                <div class="summary">{{ article.summary }}
                    {% include 'includes/comment_count.html' %}
                    <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">more ...</a>
                </div>
            </article>
            <hr/>
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
